<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FSCurrentTheme</key>
	<string>Fiddlesticks</string>
	<key>FSAPIVersion</key>
	<string>0.0.0</string>
	<key>FSThemes</key>
	<dict>
		<key>Dark Candy Fiddlesticks</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
		</dict>
		<key>Surprise Party Fiddlesticks</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
		</dict>
		<key>Fiddlesticks</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
